* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  user-select: none;
  list-style: none;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

a {
  color: #272727;
}

.hover {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  color: #272727;
}

.hover:hover {
  cursor: pointer;
  color: #ff8900;
}

.span_text {
  color: #004205;
}

/*.................................header.................................*/

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  margin: 50px 0 0 0;
}

.header_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1091px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.24);
}

.header_logo {
  width: 100%;
  max-width: 236px;
  mix-blend-mode: multiply;
}

.header_phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 190px;
}

.header_phone_but {
  width: 100%;
  max-width: 190px;
  background: transparent;
  border: 2px solid #004205;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}

.header_phone_text {
  font-size: 13px;
  color: #272727;
}

.header_main {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  color: #ff8900;
}

/*.................................main.................................*/

.main_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
}

.main_wrapper_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 40px 0 40px 0;
}

.main_wrapper_img {
  height: 290px;
  width: 100%;
  max-width: 473px;
}

.main_wrapper_img:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 5px #ffdfb9;
}

/*.................................footer.................................*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
}

.footer_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
}

.footer_logo {
  height: 55px;
  width: 100%;
  max-width: 247px;
  mix-blend-mode: multiply;
}

.footer_wrapper_navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 300px;
}

.footer_hover {
  margin: 0 0 20px 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  color: #272727;
}

.footer_hover:hover {
  cursor: pointer;
  color: #ff8900;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  max-width: 300px;
}

.footer_contacts_text {
  margin: 0 0 20px 0;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: normal;
  align-items: center;
  font-size: 16px;
}

/* ....................................................................burger-menu...................................................... */

.burger_button {
  display: none;
  cursor: pointer;
  z-index: 100;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 5px;
  background-color: #004205;
  margin: 5px 5px 0 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 5px);
  transform: rotate(-45deg) translate(-8px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -6px);
  transform: rotate(45deg) translate(-8px, -6px);
}

.burger_wrapper {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 345px;
  height: 100px;
  left: 10px;
  padding: 50px 0 50px 20px;
  background-color: #fefefe;
  z-index: 50;
}

@media (max-width: 468px) {
  body {
    max-width: 365px;
  }

  .hover {
    display: none;
  }

  header {
    max-width: 345px;
    margin: 20px auto;
  }

  .header_wrapper {
    max-width: 345px;
    padding: 5px;
    box-shadow: none;
  }

  .header_logo {
    max-width: 159px;
  }

  .header_phone {
    max-width: 117px;
    margin: 0 10px 0 0;
  }

  .header_phone_but {
    max-width: 117px;
    font-size: 14px;
  }

  .header_phone_text {
    display: none;
    font-size: 12px;
  }

  .header_main {
    display: none;
  }

  .burger_button {
    display: inline-block;
  }

  .burger_link {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    color: #272727;
  }

  .burger_link:hover {
    cursor: pointer;
    color: #ff8900;
  }

  .main_wrapper {
    max-width: 365px;
  }

  .main_wrapper_container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 40px 0 40px 0;
  }

  .main_wrapper_img {
    height: 224px;
    max-width: 312px;
  }

  footer {
    max-width: 365px;
    background-image: url(../../assets/79.png);
  }

  .footer_wrapper {
    flex-direction: column;
    max-width: 365px;
    margin: 30px 0 10px 0;
  }

  .footer_logo {
    height: 42px;
    max-width: 190px;
    margin: 0 0 20px 0;
  }

  .footer_wrapper_navigation {
    max-width: 165px;
  }

  .footer_hover {
    margin: 0 0 5px 0;
    font-size: 14px;
  }

  .footer_contacts {
    max-width: 200px;
    margin: 20px 0 0 0;
  }

  .footer_contacts_text {
    margin: 0 0 8px 0;
    font-size: 14px;
    text-align: center;
  }
}
